<div class="span3 bs-docs-sidebar" data-offset="-20">
	<ul class="nav nav-list bs-docs-sidenav affix-top">
		<li>
			<strong>{{pageName}}</strong>
		</li>
	{{#sections}}
		{{#beginMenuGroup}}
			<li class="sectionheader">
				<strong>{{groupHeader}}</strong>
			</li>
		{{/beginMenuGroup}}
		<li class="">
			<a href="#{{sectionId}}"><i class="icon-chevron-right"></i>{{title}}</a>
		</li> 
	{{/sections}}
	</ul>
</div>